


.main-title {
    background-color: rgba(190, 91, 91, 0.682);
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.style {
    text-align: center;
}

.button {
    background-color: rgba(152, 91, 152, 0.759);
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    
}

.recipes {
    font-size: 50px;
    text-align: center;
}

.recipes.pizza {
    background-color: rgba(225, 225, 90, 0.922);
}

.recipes.pavlova {
    background-color: rgba(169, 62, 169, 0.712);
}

.recipes.fries {
    background-color: rgba(223, 165, 57, 0.838);
}

.img {
    width: auto;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
}

h4, 
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 1%;
    
}